name: Deploy to Render via CI/CD Actions
on:
    push:
        branches:
            - main
        paths:
            - 'backend/**'
            - '.github/workflows/deployment-backend.yml'

jobs:
    deploy:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: backend

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'
                  cache: 'npm'
                  cache-dependency-path: |
                      backend/package-lock.json

            - name: Install Dependencies
              run: npm ci

            - name: Build Backend
              run: npm run build

            - name: Trigger Render Deployment
              env:
                  api_url: ${{secrets.RENDER_DEPLOY_HOOK_URL}}
              run: |
                  curl -X POST "$api_url"
